---
import BaseHead from "../components/BaseHead.astro";
import HomePage from "../components/HomePage.astro";
import HyroxBanner from "../components/HyroxBanner.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
<head>
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
</head>
<body>
  <HyroxBanner />
  <HomePage />
</body>
</html>